*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 16px;
	line-height: 1.5;
	font-family: "inter", sans-serif;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	background-color: #fff;
	color: #000;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	max-width: 100%;
}

button,
input,
textarea,
select {
	font: inherit;
	background: none;
	border: none;
	outline: none;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: normal;
}
