$default-primary-color: #4c73e3;
$hover-primary-color: #88a7ff;
$default-secondary-color: #fff;
$hover-secondary-color: #f2c94c;
$text-color: #4f4f55;
$text-color-secondary: #fff;
$border-color: #dee4f0;
$danger-color: #bf0003;
$box-shadow-color: rgba(53, 165, 0, 0.7);
$font-primary: "Inter";
$font-secondary: "PFDinTextCondPro-Regular";
$font-secondary-bold: "PFDinTextCondPro-Bold";
